:{$PORT:80} {
	handle /api/* {
		reverse_proxy https://bigcapital-server-production-9dfc.up.railway.app {
			header_up Host bigcapital-server-production-9dfc.up.railway.app
		}
	}

	handle /socket/* {
		reverse_proxy https://bigcapital-server-production-9dfc.up.railway.app {
			header_up Host bigcapital-server-production-9dfc.up.railway.app
			header_up Connection {http.request.header.Connection}
			header_up Upgrade {http.request.header.Upgrade}
		}
	}

	handle {
		reverse_proxy https://webapp-production-1185.up.railway.app {
			header_up Host webapp-production-1185.up.railway.app
		}
	}
}
